<!doctype html>
<!--<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Owner Demo Page</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/petclinic.css}" type="text/css"/>
</head>
<body>
<div class="col-md-8">
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>FirstName</td>
            <td>LastName</td>
        </tr>
        </thead>
        <th:block th:each="owner,iterStat:${owners}">
            <tr th:bgcolor="${iterStat.odd}?white:grey">
                <td th:text="${owner.id}"/>
                <td th:text="${owner.firstName}"/>
                <td th:text="${owner.lastName}"/>
            </tr>
        </th:block>
    </table>
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>